@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    }
}

:root{
    --Light_red: hsl(0, 100%, 67%);
    --Orangey_yellow: hsl(39, 100%, 56%);
    --Green_teal: hsl(166, 100%, 37%);
    --Cobalt_blue: hsl(234, 85%, 45%);
    --Light_slate_blue: hsl(252, 100%, 67%);
    --Light_royal_blue: hsl(241, 81%, 54%);
    --Violet_blue: hsla(256, 72%, 46%, 1);
    --Persian_blue: hsla(241, 72%, 46%, 0);
    --White: hsl(0, 0%, 100%);
    --Pale_blue: hsl(221, 100%, 96%);
    --Light_lavender: hsl(241, 100%, 89%);
    --Dark_gray_blue: hsl(224, 30%, 27%);
    --Font_size: 18px;/*paragrafe*/
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Hanken Grotesk', sans-serif;
    background: var(--White);
    color: var(--Pale_blue);
}

.container{
    display: flex;
    align-items: center;
    box-shadow: 10px 10px 30px 0px rgba(17, 37, 212, 0.1);
    border-radius: 1rem;
}
.container_left{
    background: linear-gradient(180deg, var(--Light_slate_blue), var(--Light_royal_blue));
    border-radius: 1rem;
    padding: 3rem;
    width: 50%;
    color: var(--Light_lavender);
}

.container_left h1{
    text-align: center;
    font-size: 18px;
    margin-bottom: 1.5rem;
}

.circle{
    background: linear-gradient(180deg, var(--Violet_blue), var(--Persian_blue));
    display: flex;
    text-align: center;
    width: 9rem;
    height: 9rem;
    border-radius: 100%;
    margin: 0 auto;
    flex-direction: column;
    position: relative;
}

.circle h1{
    font-size: 3.5rem;
    position: relative;
    top: 1.35rem;
    font-weight: 800;
    color: var(--White);
    margin-bottom: 0;
}

.circle p{
    font-size: 1rem;
    margin-top: 5px;
}

.result{
    text-align: center;
}

.result h1{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--White);
    margin: 1.5rem 0 0.5rem;
}

.result p{
    max-width: 34ch;
    font-size: 0.9rem;
}

.container_right{
    width: 50%;
    padding: 2rem;
}

.container_right div{
    display: flex;
}

.container_right h1{
    color: var(--Dark_gray_blue);
    font-size: 18px;
    font-weight: 800;
}

.container_right .section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 0.7rem;
}

.section{
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1rem;
    color: hsla(224, 30%, 27%, 0.4);
}

.red{
    background: hsla(0, 100%, 67%, 0.1);;
}

.red h1{
    color: var(--Light_red);
    font-size: 1rem;
    font-weight: 700;
    margin-left: 10px;
}

.yellow{
    background: hsla(39, 100%, 56%, 0.1);
}

.yellow h1{
    color: var(--Orangey_yellow);
    font-size: 1rem;
    font-weight: 700;
    margin-left: 10px;
}

.green{
    background: hsla(166, 100%, 37%, 0.1);
}

.green h1{
    color: var(--Green_teal);
    font-size: 1rem;
    font-weight: 700;
    margin-left: 10px;
}

.blue{
    background: hsla(234, 85%, 45%, 0.1);
}

.blue h1{
    color: var(--Cobalt_blue);
    font-size: 1rem;
    font-weight: 700;
    margin-left: 10px;
}

.container_right .section p:first-child {
    color: var(--Dark_gray_blue);
    margin-right: 10px;
}

.button_div{
    margin-top: 2rem;
}

.button{
    width: 100%;
    text-decoration: none;
    padding: 0.6rem 1.5rem;
    border-radius: 2rem;
    background: var(--Dark_gray_blue);
    text-align: center;
    color: var(--White);
}

.button:hover{
    background: linear-gradient(180deg, var(--Light_slate_blue), var(--Light_royal_blue));
}

@media (max-width: 600px) {
    body{
        display: block;
    }

    .container{
        flex-direction: column;
    }

    .container_left{
        width: 100%;
        padding: 2rem;
        border-radius: 0 0 3rem 3rem;
    }

    .container_right{
        width: 100%;
    }

    .result p {
        max-width: 32ch;
        font-size: 0.9rem;
        margin: 0 auto;
    }
}